<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-06-17T16:03:54Z</date>
	<key>WorkspacePath</key>
	<string>/Users/eliaseckle/Desktop/Chat_Roule copie/Examen-Juin-2022/ChatRoule_App/ChatRoule_App.xcodeproj</string>
</dict>
</plist>
